.h1_1 {
    color: white
}

.p_1 {
    color:white;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, black, black, #39FF14);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




.links li {
    padding: 1%;
}
#body {
    display: flex;
    width: 100%;
    justify-content: center;
}



.undecorated_list {
    text-align: left;
    list-style: none;
    color: white
}
.User_image {
    border-radius: 50%;
}

#body .sections {
    padding: 5%;
    
}